@import '../../../../public/custom_assets/scss/pages/page-auth.scss';
.text-danger {
    color: #d9534f; // Bootstrap red color or customize as needed
    font-size: 0.9rem; // Slightly smaller text
    margin-top: 5px;
  }

  