.pagination-controls {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bs-toast {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }
  