<form [formGroup]="ambulanceForm" (ngSubmit)="onSubmit()" class="card m-4 align-content-md-start">
    <div class="card-body">
      <div class="d-md-flex align-items-center justify-content-between mb-3">
        <div class="text-center text-md-start mb-2 mb-md-0">
          <h4>New Ambulance</h4>
        </div>
        <button type="button" class="btn col-md-3 col-12 btn-outline-primary" [routerLink]="['/manage-ambulance']">Manage Ambulance</button>
      </div>
  
      <div class="row g-2">
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="John Doe" required>
          <label for="name">Name <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('name')?.touched && ambulanceForm.get('name')?.invalid" class="text-danger">
            Name is required.
          </div>
        </div>
  
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="contact" formControlName="contact" placeholder="Govt./Private" required>
          <label for="contact">Contact Number <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('contact')?.touched && ambulanceForm.get('contact')?.invalid" class="text-danger">
            Contact Number is required.
          </div>
        </div>
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="vehicleNumber" formControlName="vehicleNumber" placeholder="Govt./Private" required>
          <label for="vehicleNumber">Vehicle Number <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('vehicleNumber')?.touched && ambulanceForm.get('vehicleNumber')?.invalid" class="text-danger">
            Vehicle Number is required.
          </div>
        </div>
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="govtBody" formControlName="govtBody" placeholder="Govt./Private" required>
          <label for="govtBody">Government Body <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('govtBody')?.touched && ambulanceForm.get('govtBody')?.invalid" class="text-danger">
            Government Body is required.
          </div>
        </div>
  
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <select class="form-select" id="state" formControlName="state" required>
            <option value="" disabled>Select a state</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
          </select>
          <label for="state">State <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('state')?.touched && ambulanceForm.get('state')?.invalid" class="text-danger">
            State is required.
          </div>
        </div>
  
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <select class="form-select" id="city" formControlName="city" required>
            <option value="" disabled>Select a city</option>
            <option value="Bhopal">Bhopal</option>
            <option value="Indore">Indore</option>
            <option value="Jabalpur">Jabalpur</option>
            <option value="Gwalior">Gwalior</option>
          </select>
          <label for="city">City <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('city')?.touched && ambulanceForm.get('city')?.invalid" class="text-danger">
            City is required.
          </div>
        </div>
  
  
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="area" formControlName="area" placeholder="Area/Landmark" required>
          <label for="area">Area/Landmark <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('area')?.touched && ambulanceForm.get('area')?.invalid" class="text-danger">
            Area is required.
          </div>
        </div>
        <div class="form-floating col-md-6 col-12 mb-3">
          <input type="text" class="form-control" id="pincode" formControlName="pincode" placeholder="Area/Landmark" required>
          <label for="pincode">Pincode <span class="text-danger">*</span></label>
          <div *ngIf="ambulanceForm.get('pincode')?.touched && ambulanceForm.get('pincode')?.invalid" class="text-danger">
            Pincode is required and must be a 6-digit number
          </div>
        </div>

  
  
        <button type="submit" class="btn col-md-3 col-12 btn-primary" [disabled]="ambulanceForm.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
  